@import "./partials/mixins";
@font-face {
    font-family: Sans;
    src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    
}
.body{
    height: 100vh;
    display: flex;
    width: 100%;
    background-color: #1b1b1b;
}
    .header{
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: #1b1b1b;
        height: 4rem;
        width: 100%;
        text-decoration: none;
        z-index: 2;
        .navbar{
            width: 100%;
            margin: 0;
            padding: 0;
            height: 5rem;
            list-style: none;
        
        
            .nav_links{
                list-style: none;
                font-family: sans;
                padding-left: 2rem;
                padding-right: 2rem;
                font-size: 1rem;
                color: #f9f9f8 ;
                @include flex(flex, row, wrap, space-between, center);
                :hover{
                    color: #485aa4;
                    transform: scale(1.1);
                }
           
            }
            .nav_links a {
                text-decoration: none;
                color: inherit;
            }

            .logo{
                left: 0;
                margin-left: 0;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                height: 5rem;
                display: block;
            };
        }
    }
    .formulario {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1b1b1b;
        padding: 20px;
        width: 20rem;
        max-width: 18rem;
        height: 30rem;
        border-radius: 10px;
        box-shadow: 0px 10px 10px 1px rgb(35, 44, 172);
        text-align: center;
    }
    .formulario__titulo {
        color: #ffffff;
       font-size: 2rem;
       margin-bottom: 0.5em;
    }
    .form__paragraph{
        font-weight: 300;
    }
    .form__link{
        font-weight: 400;
        color: #d3e304;
    }
    .div__form{
        margin-top: 1em;
        display: grid;
        gap: 2.5em;
    }
    .form__group{
        position: relative;
        color: #ffffff;
        margin-bottom: 4px;
        font-size: 1.2rem;
    }
    .form__input{
        width: 100%;
        background: none;
        color: #ffffff;
        font-size: 0.8rem;
        padding: 0.6em 0.3em;
        border: none;
        outline: none;
        border-bottom: 0.01px solid #303030;
    }



    .form__label{
        color: #ffffff;
        cursor: pointer;
        top: 0;
        left: 5px;
        transform: translateY(10px); 
        transform: tranform 0.5s, #1f7ab4 .3s;      
    }

    .form__line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #1f7ab4;
        transform: scale(0);
        transform: left bottom;
        transition: transform 0.4s;
    }
    .form__input:focus ~ .form__line,
    .form__input:not(:placeholder-shown) ~ .form__line{
        transform: scale(1.05);
    } 

    .mensajeUsuario{
        height: 1rem;
        color: #ffffff;
        margin-top: -35px;
    }

    .form__submit{
        background-color: #1f7ab4;
        color: #000000;
        font-size: 1.2rem;
        width: 8rem;
        border-radius: 8px;
        margin-left: 5rem;
    }

    .form__link{
        color: #f9f9f8;
        text-decoration: none;
    }
    .form__link:hover{
        color: #4d63bd;
        transform: scale(1.1);
    }

    .position{
        position: absolute;
        margin-top: 20rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slider{
        
        background-image: url(../assets/img/WS.jpg.jpg);
        background-size: cover;
        height: 120%;
        width: 100%;
        animation: animate 50s infinite;
        opacity: 0.5;
        
    }
    @keyframes animate {
        10% {
            background-image: url(../assets/img/RealEstate.jpg.jpg);
            background-size: cover;
        }       
        20% {
            background-image: url(../assets/img/DJ.jpg.png);
            background-size: cover;
        }       
        30% {
            background-image: url(../assets/img/ahorros.jpeg);
            background-size: cover;
        }       
        40% {
            background-image: url(../assets/img/indices.jpg.webp);
            background-size: cover;
        }       
        50% {
            background-image: url(../assets/img/Fintech.jpg.webp);
            background-size: cover;
        }       
        60% {
            background-image: url(../assets/img/Inve.jpg.webp);
            background-size: cover;
        }       
        10% {
            background-image: url(../assets/img/indices2.jpg.jpg);
            background-size: cover;
        }       
        70% {
            background-image: url(../assets/img/inversionBTC.jpeg);
            background-size: cover;
        }       
        80% {
            background-image: url(../assets/img/rentabilidad.jpg);
            background-size: cover;
        }       
        90% {
            background-image: url(../assets/img/RealEstate.jpg.jpg);
            background-size: cover;
        }       
        100% {
            background-image: url(../assets/img/RealEstate.jpg.jpg);
            background-size: cover;
        }       
    }
    .formularioCalculadora {
        margin-top: 6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1b1b1b;
        padding: 20px;
        width: 40rem;
        max-width: 40rem;
        height: 46rem;
        border-radius: 12px;
        box-shadow: 0px 10px 10px 1px rgb(33,150,243);
        text-align: center;
      }
      
      .formulario__tituloCalculadora {
        color: #ffffff;
        font-size: 2rem;
        margin-bottom: 0.5em;
      }
      
      .form__paragraphCalculadora {
        font-weight: 300;
      }
      
      .form__linkCalculadora {
        font-weight: 400;
        color: #1f7ab4;
      }
      
      .div__form {
        margin-top: 1em;
        display: grid;
        gap: 2.5em;
      }

      
    .form__groupCalculadoraS {
     position: relative;
        color: #ffffff;
        margin-bottom: 4px;
        font-size: 1.2rem;
        text-align: center;
    }

      .minigruposCalc{
        width: 100%;
        display: flex;
      }
      .form__groupCalculadora {
        position: relative;
        color: #ffffff;
        width: 50%;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 1.2rem;
      }
      
      .form__inputCalculadora {
        width: 100%;
        background: none;
        color: #ffffff;
        height: 1.15rem;
        font-size: 0.8rem;
        padding: 0.6em 0.3em;
        border: none;
        outline: none;
        border-bottom: 0.01px solid #303030;
      }
      
      .form__labelCalculadora {
        color: #ffffff;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dos columnas con un ancho mínimo de 200px */
        cursor: pointer;
        top: 0;
        left: 5px;
        transform: translateY(10px);
        transform: tranform 0.5s, #1f7ab4 0.3s;
      }
      
      .form__lineCalculadora {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #1f7ab4;
    
        transform: left bottom;
        transition: transform 0.4s;
      }
      
      .form__inputCalculadora:focus ~ .form__lineCalculadora,
      .form__inputCalculadora:not(:placeholder-shown) ~ .form__lineCalculadora {
     
      }
    
      .form__submitCalcularSN {
        background-color: #2453fc;
        width: 6rem;
        color: #000000;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 8px;
      }
    
      .form__submitCalculadora {
        background-color: #2453fc;
        color: #000000;
        font-size: 1.2rem;
        margin-top: 0.8rem;
        width: 6rem;
        border-radius: 8px;

      }
      
      .form__linkCalculadora {
        color: #f9f9f8;
        text-decoration: none;
      }
      
      .form__linkCalculadora:hover {
        color: #d3e304;
      
      }

      .desplegable {
        position: relative;
           color: #000000;
           margin-bottom: 4px;
           font-size: 10.2rem;
           text-align: center;
           background-color: #d3e304;
       }
   .porcetaje {
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dos columnas con un ancho mínimo de 200px */
    cursor: pointer;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transform: tranform 0.5s, #d3e304 0.3s;
  }
  .fondeo__calculadora{
    display: flex;
    justify-content: center;
    color: #ffffff;
  }

  .link__fondeo {
    margin-left: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 1rem;
  }
.link__fondeo:visited {
    color: #ffffff;
}

.link__fondeo:hover {
    transform: scale(1.3);
    color: #2b7fc9;
    
}
.text__fondeo{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.info__cuenta {
    width: calc(100% - 2rem * 2); 
    overflow-x: hidden;
    height: 5rem;
    left: 1rem;
    color: #ffffff;
    border-radius: 15px;
    position: relative;
    top: 8rem;
    box-shadow: 0px 10px 10px 5px rgb(33 150 243 / 50%);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1rem; 

}

.divspan {
    display: flex;
    flex-direction: column;
    align-items: center;
    


    .span__liquidez{
        font-size: 1.5rem;
        color: #2453fc;
        margin-bottom: 1rem;
    }
    .span__comitente{
        font-size: 1.5rem;
        color: #2453fc;
        margin-bottom: 1rem;
    }
    .span__invertido {
        font-size: 1.5rem;
        color: #2453fc;
        margin-bottom: 1rem;
    }

}
.boton__ahorros{
    background-color: #2453fc;
    color: #000000;
    font-size: 1.2rem;
    width: 6rem;
    border-radius: 8px;
}






.divi_ced {
    width: calc(100% - 2rem * 2);

    left: 1rem;
    overflow-x: hidden;
    color: #ffffff;
    border-radius: 15px;
    position: relative;
    top: 11rem;
    box-shadow: 2px 10px 12px 10px rgb(33 150 243 / 50%);
    padding: 1rem;
    height: auto;
}  

.btnVentaCed{
    height: 1.5rem;
    width: 4rem;
    border-radius: 10px;
    background-color: #4b0000;
    margin-right: -20rem;
    color: #ffffff;
}
.btnCompraCed{
    height: 1.5rem;
    width: 4rem;
    border-radius: 10px;
    background-color: #004b04;
    color: #ffffff;
}
.cadaCedear{
    margin-top: 0.5rem;
    max-width: 100%;
    size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.misinv {
    width: 100%;
    display: flex;
    font-size: 2.5rem;
    border-bottom: 3px solid white; 
}

.fila {
    display: flex;
    margin-bottom: 0;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between; 
}



.cedear {
    padding: 0;
    background-color: #292828;
    height: 1rem;
    width: 100%;
}

.pcedear {
    background-color: #303030;
    font-size: 1.4rem;
    padding: 0;
    height: 2rem;
    width: 100%;
}
.pcedear2 {
    background-color: #1b1b1b;
    font-size: 1.4rem;
    padding: 0;
    height: 2rem;
    width: 100%;
}
.pcedear3 {
    background-color: #0d4d00;
    font-size: 1.4rem;
    padding: 0;
    height: 2rem;
    width: 50%;
    border-radius: 5px;
}
.pcedear4{
    background-color: #af0000;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 0;
    height: 2rem;
    width: 50%;
}
.bodicrearusuario {
    background-image: url(../assets/img/bearsvsbulls.jpeg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 60rem;
}

.ingresoEgreso__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 24rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1b;
    padding: 20px;
    width: 60%;
    max-width: 100%;
    height: 28rem;
    border-radius: 10px;
    
    text-align: center;
}

.section__formIng{
    box-shadow: 0px 10px 10px 1px rgb(33 150 243 / 50%);
    text-align: center; 
    border-radius: 10px;
    width: 20rem;

}
.formulario__tituloIng {
    color: #ffffff;
   font-size: 2rem;
   margin-bottom: 0.5em;
}
.form__paragraphIng{
    font-weight: 300;
}
.form__linkIng{
    font-weight: 400;
    color: #c9cc9a;
}
.div__formIng{
    margin-top: 1em;
    display: grid;
    gap: 2.5em;
}
.form__groupIng{
    position: relative;
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 1.2rem;
}
.form__inputIng{
    width: 100%;
    background: none;
    color: #ffffff;
    font-size: 0.8rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 0.01px solid #303030;
}



.form__labelIng{
    color: #ffffff;
    cursor: pointer;
    top: 0;
    left: 5px;
    transform: translateY(10px); 
    transform: tranform 0.5s, #d3e304 .3s;      
}

.form__lineIng{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d3e304;
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
}
.form__inputIng:focus ~ .form__line,
.form__inputIng:not(:placeholder-shown) ~ .form__lineIng{
    transform: scale(1.05);
} 

.form__submitIng{
   
    background-color: #d3e304;
    color: #000000;
    font-size: 1.2rem;
}

.form__linkIng{
    color: #f9f9f8;
    text-decoration: none;
}
.form__linkIng:hover{
    color: #d3e304;
    transform: scale(1.1);
}

.section__formEg{
    box-shadow: 0px 10px 10px 1px rgb(33 150 243 / 50%);
    text-align: center;
    border-radius: 10px;
}

.formularioEg{
    display: flex;
    align-items: center;
    justify-content: center;

}

.formulario__tituloEg {
    color: #ffffff;
   font-size: 2rem;
   margin-bottom: 0.5em;
}
.form__paragraphEg{
    font-weight: 300;
}
.form__linkEg{
    font-weight: 400;
    color: #d3e304;
}
.div__formEg{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.form__groupEg{
    position: relative;
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.form__inputEg{
    width: 100%;
    background: none;
    color: #ffffff;
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    outline: none;
    border-bottom: 0.01px solid #303030;
}



.form__labelEg{
    color: #ffffff;
    cursor: pointer;
    top: 0;
    left: 5px;
    transform: translateY(10px); 
    transform: tranform 0.5s, #1f7ab4 .3s;      
}

.form__lineEg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #1f7ab4;
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
}
.form__inputEg:focus ~ .form__line,
.form__inputEg:not(:placeholder-shown) ~ .form__lineEg{
    transform: scale(0.95);
} 

.form__submitEg{
    background-color: #2453fc;
    color: #000000;
    font-size: 1.2rem;
    width: 6rem;
    margin-top: 1.5rem;
    
}

.form__linkEg{
    color: #f9f9f8;
    text-decoration: none;
}
.form__linkEg:hover{
    color: #d3e304;
    transform: scale(1.1);
}





.formularioOV {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1b;
    padding: 20px;
    width: 25rem;
    max-width: 25rem;
    height: 40rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 1px rgb(211 227 4 / 50%);
    text-align: center;
}
.formulario__tituloOV {
    color: #ffffff;
   font-size: 2rem;
   margin-bottom: 0.5em;
}
.form__paragraphOV{
    font-weight: 300;
}
.form__linkOV{
    font-weight: 400;
    color: #d3e304;
}
.div__formOV{
    margin-top: 1em;
    display: grid;
    gap: 2.5em;
}
.form__groupOV{
    position: relative;
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 1.2rem;
}
.form__inputOV{
    width: 100%;
    background: none;
    color: #ffffff;
    font-size: 0.8rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 0.01px solid #303030;
}



.form__labelOV{
    color: #ffffff;
    cursor: pointer;
    top: 0;
    left: 5px;
    transform: translateY(10px); 
    transform: tranform 0.5s, #d3e304 .3s;      
}

.form__lineOV{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d3e304;
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
}
.form__inputOV:focus ~ .form__lineOV,
.form__inputOV:not(:placeholder-shown) ~ .form__lineOV{
    transform: scale(1.05);
} 

.form__submitOV{
    background-color: #d3e304;
    color: #000000;
    font-size: 1.2rem;
}

.form__linkOV{
    color: #f9f9f8;
    text-decoration: none;
}
.form__link:hoverOV{
    color: #d3e304;
    transform: scale(1.1);
}






.formularioCP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1b;
    padding: 20px;
    width: 25rem;
    max-width: 25rem;
    height: 40rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 1px rgb(211 227 4 / 50%);
    text-align: center;
}
.formulario__tituloCP {
    color: #ffffff;
   font-size: 2rem;
   margin-bottom: 0.5em;
}
.form__paragraphCP{
    font-weight: 300;
}
.form__linkCP{
    font-weight: 400;
    color: #d3e304;
}
.div__formCP{
    margin-top: 1em;
    display: grid;
    gap: 2.5em;
}
.form__groupCP{
    position: relative;
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 1.2rem;
}
.form__inputCP{
    width: 100%;
    background: none;
    color: #ffffff;
    font-size: 0.8rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 0.01px solid #303030;
}



.form__labelCP{
    color: #ffffff;
    cursor: pointer;
    top: 0;
    left: 5px;
    transform: translateY(10px); 
    transform: tranform 0.5s, #d3e304 .3s;      
}

.form__lineCP{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d3e304;
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
}
.form__inputCP:focus ~ .form__lineCP,
.form__inputCP:not(:placeholder-shown) ~ .form__lineCP{
    transform: scale(1.05);
} 

.form__submitCP{
    background-color: #d3e304;
    color: #000000;
    font-size: 1.2rem;
}

.form__linkCP{
    color: #f9f9f8;
    text-decoration: none;
}
.form__link:hoverCP{
    color: #d3e304;
    transform: scale(1.1);
}

.formularioNU {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1b1b1b;
        padding: 20px;
        width: 20rem;
        max-width: 18rem;
        height: 32rem;
        border-radius: 10px;
        box-shadow: 0px 10px 10px 1px rgb(211 227 4 / 50%);
        text-align: center;
    }

    .div_ord{
        width: calc(100% - 2rem * 2);
        left: 1rem;
        overflow-x: hidden;
        color: #ffffff;
        border-radius: 15px;
        position: relative;
        top: 14rem;
        box-shadow: 2px 10px 12px 10px rgb(33 150 243 / 50%);
        padding: 1rem;
        height: auto;
    }
    .cadaCedearord{
        margin-top: 0.5rem;
        max-width: 100%;
        size: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .misinvord {
        width: 100%;
        display: flex;
        font-size: 2.5rem;
        border-bottom: 3px solid white; 
    }
    
    .filaord {
        display: flex;
        margin-bottom: 0;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between; 
    }